<?php
$config = [
    'global' => [
        'timezone' => 'Asia/Shanghai',
        'cookieDomain' => '.nyatori.com',   //设置cookie时设置的domain，可留空则默认为当前域名。
        'cookieCors' => true, //默认开启，设置session的samesite=none。否则未来可能无法在外部站点携带评论系统的cookie进行请求。正确设置cookieDomain时可避免跨域带cookie请求时可以设置为false。
        'cors' => true  //默认开启，除非满足评论系统和站点在同域名非跨域情况下可以设置为false。
    ],
    'admin' => [
        //默认后台账号密码为root, 123456。上线请务必修改默认账号密码。
        'username' => 'root',
        'password' => '2dfa2f725cecc23403bbec1e401abddb', //md5(password+user)
    ],
    'DB' => [
        'host' => '127.0.0.1',
        'port' => '27017',
        'params' => [
            'compressors' => 'disabled',
            'gssapiServiceName' => 'mongodb'
        ],
        'db' => 'comment',
    ],
    'cache' => [
        'fileDir' => __DIR__ . '/runtime/cache',    //请先创建目录
        'partCleanCount' => 5,  //缓存文件部分清理时尝试清理的次数
        'cron' => true  //使用cron，请在crontab中定时运行根目录的cron.php
    ],
    'mail' => [
        'type' => 'smtp',
        'server' => 'smtp.example.com',
        'port' => '465',
        'username' => 'test',
        'from' => 'test@test.com',
        'senderAlias' => 'test',    //邮件发送者的名字格式为 => alias <from>
        'password' => 'password',
        'secure' => 'ssl',
        'timeout' => 20,
        'persistent' => false,
        'context' => null

//        'type' => 'ali',
//        'server' => 'dm.aliyuncs.com', //dm.aliyuncs.com 华东, dm.ap-southeast-1.aliyuncs.com 新加坡, dm.ap-southeast-2.aliyuncs.com 悉尼
//        'accountName' => "mail", //发信地址
//        'addressType' => 1, //0随机账号，1发信地址
//        'fromAlias' => "test",
//        'accessKeyId' => 'Aliyun AccessKey Id',   //主账号或者ram的AccessKey Id
//        'accessKeySecret' => 'Aliyun AccessKey Secret'    //主账号或者ram的AccessKey Secret

//        'type' => 'disable',    //全局关闭
    ],
    'log' => [
        'switch' => true,
        'file' => __DIR__ . '/runtime/log.txt',
    ],
];
!defined('CONFIG')?define('CONFIG', $config):null;