<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    .nyatoriCommentWrapper0511, .nyatoriCommentWrapper0511Loading {
        text-align: center;
    }
    .nyatoriCommentWrapper0511 .send {
        width: 100%;
    }
    .nyatoriCommentWrapper0511 .send input {
        width: 100%;
        display: block;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: 0.1rem solid #ddd;
        box-sizing: border-box;
    }
    .nyatoriCommentWrapper0511 .send .sendCommentWrapper {
        margin-top: 0.3rem;
    }
    .nyatoriCommentWrapper0511 .send .sendInfo {
        width: 100%;
        margin: 0.3rem 0;
    }
    .nyatoriCommentWrapper0511 .send .sendInfo .sendUsernameWrapper {
        float: left;
        padding-right: 0.15rem;
        width: 50%;
        box-sizing: border-box;
    }
    .nyatoriCommentWrapper0511 .send .sendInfo .sendUsernameWrapper .sendUsername {
        width: 100%;
    }
    .nyatoriCommentWrapper0511 .send .sendInfo .sendEmailWrapper {
        float: right;
        padding-left: 0.15rem;
        width: 50%;
        box-sizing: border-box;
    }
    .nyatoriCommentWrapper0511 .send .sendInfo .sendEmailWrapper .sendEmail {
        width: 100%;
    }
    .nyatoriCommentWrapper0511 .send .sendBtnWrapper {
        margin: 0.3rem 0;
        width: 100%;
        box-sizing: border-box;
    }
    .nyatoriCommentWrapper0511 .send .sendBtnWrapper .sendBtn {
        width: 100%;
        box-sizing: border-box;
        border: 0.1rem solid #ddd;
        border-radius: 0.3rem;
        background: #666;
        color: #fff;
        line-height: 1.5rem;
        font-weight: bolder;
        cursor: pointer;
    }
    .nyatoriCommentWrapper0511 .send .captchaWrapper {
        width: 100%;
        display: flex;
        margin-top: 0.3rem;
    }
    .nyatoriCommentWrapper0511 .send .captchaWrapper .sendCaptcha {
        flex: 1;
        margin-right: 0.5rem;
    }
    .nyatoriCommentWrapper0511 .send .captchaWrapper .captchaImage {
        height: 3rem;
        width: 6rem;
        cursor: pointer;
        margin-right: 0.5rem;
    }
    .nyatoriCommentWrapper0511 .send .captchaWrapper .captchaImageLoading {
        line-height: 2rem;
        margin-right: 0.5rem;
    }
    .nyatoriCommentWrapper0511 .send .replyCommentWrapper {
        display: flex;
        padding: 0.5rem;
        background: #87ceeb;
        border-radius: 0.3rem;
        text-align: left;
    }
    .nyatoriCommentWrapper0511 .send .replyCommentWrapper .replyComment {
        flex: 1;
    }
    .nyatoriCommentWrapper0511 .send .replyCommentWrapper .close {
        user-select: none;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    //from commentList.vue
    .nyatoriCommentWrapper0511 #commentList {
        margin-top: 0.5rem;
    }
    .nyatoriCommentWrapper0511 #commentList .total span {
        background: #8b0000;
        color: #fff;
        font-weight: bolder;
        padding: 0.12rem 0.36rem;
        border-radius: 0.3rem;
    }
    .nyatoriCommentWrapper0511 #commentList .listHistoryBack {
        user-select: none;
        cursor: pointer;
        background: #000;
        color: #fff;
        padding: 0.3rem;
        border-radius: 1.2rem;
        font-weight: bolder;
    }
    .nyatoriCommentWrapper0511 #commentList .pageList {
        padding: 0.3rem;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .pageList a {
        margin-right: 0.3rem;
        padding: 0.3rem;
        cursor: pointer;
    }
    .nyatoriCommentWrapper0511 #commentList .pageList a.active {
        color: #f00;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer {
        border-bottom: 1px solid #ddd;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper {
        display: flex;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .left {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        margin: 0.3rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .avatar {
        color: #fff;
        background: #000;
        border-radius: 1.5rem;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right {
        flex: 1;
        min-width: 0;
        margin: 0.3rem;
        text-align: left;
        word-wrap: break-word;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .username {
        font-weight: bold;
        float: left;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .commentAdmin {
        float: left;
        line-height: 1.4rem;
        margin-left: 0.5rem;
        background: #8b0000;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .reply {
        float: left;
        line-height: 1.4rem;
        margin-left: 0.5rem;
        background: #666;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .commentDialog {
        float: left;
        line-height: 1.4rem;
        margin-left: 0.5rem;
        background: #666;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .commentId {
        float: left;
        color: #ccc;
        font-size: 0.8rem;
        padding: 0 0.3rem;
        line-height: 1.4rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .commentWrapper .right .date {
        float: right;
        color: #ccc;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments {
        padding-left: 3rem;
        font-size: 0.9rem;
        text-align: left;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentMore {
        padding: 0.12rem;
        background: #eee;
        width: 4.8rem;
        text-align: center;
        margin: 0.3rem 0 0.3rem 1.1rem;
        user-select: none;
        cursor: pointer;
        border-radius: 0.3rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper {
        padding: 0;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment {
        padding: 0.3rem;
        border-top: 1px solid #ddd;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment * {
        padding-left: 0.8rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommentUsername {
        float: left;
        font-weight: bold;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommentAdmin {
        float: left;
        margin-left: 0.5rem;
        background: #8b0000;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommenteply {
        float: left;
        margin-left: 0.5rem;
        background: #666;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommentDialog {
        float: left;
        margin-left: 0.5rem;
        background: #666;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.5rem;
        cursor: pointer;
        user-select: none;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommentId {
        float: left;
        color: #ccc;
        font-size: 0.8rem;
        padding: 0 0.3rem;
        line-height: 1.2rem;
    }
    .nyatoriCommentWrapper0511 #commentList .commentContainer .subComments .subCommentWraper .subComment .subCommentDate {
        float: right;
        color: #ccc;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
</style>
<div id="commentApp" style="display: none">
    <div v-if="init" class="nyatoriCommentWrapper0511">
        <div v-if="!commentClosed" class="commentWrapper">
            <div class="send">
                <div v-if="replyComment" class="replyCommentWrapper">
                    <div class="replyComment">回复{{replyComment.username}}:<span v-html="replyComment.comment"></span></div>
                    <div class="close" @click="closeReply">×</div>
                </div>
                <div class="sendCommentWrapper">
                    <input class="sendComment" v-model="comment" placeholder="请输入评论内容">
                </div>
                <div class="sendInfo">
                    <div class="sendUsernameWrapper">
                        <input class="sendUsername" type="text" v-model="username" :placeholder="'您的昵称' + (this.configRequiredUsername?'(必填)':'')">
                    </div>
                    <div class="sendEmailWrapper">
                        <input class="sendEmail" type="email" v-model="email" :placeholder="'您的邮箱' + (this.configRequiredEmail?'(必填)':'')">
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="captchaWrapper">
                    <input class="sendCaptcha" type="text" v-model="captcha" placeholder="右侧验证码">
                    <img v-show="captchaImageShow" class="captchaImage" :src="captchaImage" @load="captchaLoaded" @click="refreshCaptcha">
                    <div class="captchaImageLoading" v-show="!captchaImageShow">Loading</div>
                </div>
                <div class="sendBtnWrapper">
                    <button class="sendBtn" @click="submit">提交</button>
                </div>
            </div>
            <div id="commentList">
                <div class="total" v-if="commentData.type === 'main'"><span>{{commentCount}}</span>条评论</div>
                <div class="listHistoryBack" v-if="commentData.type !== 'main'" @click="commentHistoryBack">返回列表</div>
                <div class="commentContainer" v-for="comment in commentList" :key="comment._id['$oid']">
                    <div class="commentWrapper">
                        <div class="left avatar">{{comment.username[0]}}</div>
                        <div v-if="comment.status === 'public'" class="right">
                            <div class="username">{{comment.username}}</div>
                            <div v-if="comment.isAdmin" class="commentAdmin">管理员</div>
                            <div v-if="!comment.isNew" class="reply" @click="replyClick(comment)">回复</div>
                            <div v-if="commentData.type === 'top_sub'" class="commentDialog" @click="getOneComment(comment)">查看对话</div>
                            <div class="commentId">ID:{{comment._id['$oid']}}</div>
                            <div class="date">{{comment.date}}</div>
                            <div style="clear: both"></div>
                            <div class="comment"><span v-html="comment.comment"></span></div>
                        </div>
                        <div v-if="comment.status !== 'public'" class="right">
                            评论不见了哦~
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div v-if="comment.sub && comment.sub.length > 0" class="subComments">
                        <div class="subCommentWraper" v-for="(subComment,subIndex) in comment.sub" :key="'sub'+subComment._id['$oid']">
                            <div class="subComment" v-if="subIndex < commentData.config.subCommentMainCount">
                                <div class="subCommentUsername">{{subComment.username}}</div>
                                <div v-if="subComment.isAdmin" class="subCommentAdmin">管理员</div>
                                <div class="subCommenteply" @click="replyClick(subComment)">回复</div>
                                <div class="subCommentDialog" @click="getOneComment(subComment)">查看对话</div>
                                <div class="subCommentId">ID:{{subComment._id['$oid']}}</div>
                                <div class="subCommentDate">{{subComment.date}}</div>
                                <div style="clear: both"></div>
                                <div class="subCommentComment">{{subComment.comment}}</div>
                                <div hidden>{{subIndex}}</div>
                            </div>
                        </div>
                        <div v-if="comment.sub.length > commentData.config.subCommentMainCount" class="subCommentMore" @click="getOneComment(comment)">查看更多</div>
                    </div>
                </div>
                <div v-if="commentData.type === 'main'" class="pageList">
                    <a :class="page === commentData.page + 1?'active':''" v-for="(page, index) in pageCount" :key="index" @click="pageChange(page)">
                        {{page}}
                    </a>
                </div>
            </div>
        </div>
        <div v-if="commentClosed" class="commentClosed">
            评论已关闭
        </div>
    </div>
    <div v-if="!init" class="nyatoriCommentWrapper0511Loading">Loading</div>
</div>
<script type="text/javascript">
    var commentEl = document.getElementById('nyatoriCommentWrapper0511');
    var commentSystem = commentEl.getAttribute('data-system');
    var commentSite = commentEl.getAttribute('data-site');
    // var commentPath = commentEl.getAttribute('data-path');
    var commentPath = GetUrlRelativePath();

    var $jquery=$.noConflict();

    var vm = new Vue({
        el: '#commentApp',
        data: {
            captchaImage: commentSystem + "/api.php?controller=public&action=captcha",
            captchaImageShow: false,
            replyComment: null,
            comment: "",
            username: "",
            email: "",
            captcha: "",
            page: 0,
            commentData: {},
            commentStack: [],
            pageList: [],
            init: false, //判断是否刚加载页面
            configRequiredUsername: false,
            configRequiredEmail: false
        },
        computed: {
            commentClosed() {
                const comment = this.commentData;
                if(!comment.article) return false;
                return !comment.article.commentSwitch;
            },
            commentList() {
                if(!this.commentData) return [];
                return this.commentData.comment;
            },
            commentCount(){
                if(!this.commentData) return 0;
                if(!this.commentData.article) return 0;
                return this.commentData.article.commentCount;
            },
            pageCount(){
                if(!this.commentData) return [];
                if(!this.commentData.article) return [];
                if(!this.commentData.config) return [];
                const count = this.commentData.article.commentRootCount;    //使用顶级（根）评论的数量来计算页数，因为只显示一级的评论在列表上。
                const perPageCount = this.commentData.config.perPageCount; //分页最大评论数
                const pageTotal = Math.ceil(count / perPageCount);
                const currentPage = this.commentData.page + 1;
                if(pageTotal < 1){
                    return [];  //一页时不显示页码
                } else if(pageTotal < 8) {
                    let pageList = [];
                    for(let i = 1; i <= pageTotal; i++){
                        pageList[i-1] = i;
                    }
                    return pageList;
                } else {
                    let pageList = [1, 2];
                    const prePage = currentPage - 1;
                    const nextPage = currentPage + 1;
                    if(prePage > 2){
                        pageList.push('...');
                        pageList.push(prePage);
                    }
                    if(currentPage > 2 && currentPage < pageTotal-1){
                        pageList.push(currentPage);
                    }
                    if(nextPage > 2 && nextPage < pageTotal-1){
                        pageList.push(nextPage);
                        pageList.push('...');
                    }
                    if(nextPage <= 2){
                        pageList.push('...');
                    }
                    pageList.push(pageTotal - 1, pageTotal);
                    return pageList;
                }
            }
        },
        methods: {
            submit() {
                if(this.captcha.trim().length < 1) {
                    alert('请输入验证码');
                    return false;
                }
                if(this.comment.length > 200) {
                    alert('评论内容过长');
                    return false;
                }
                if(this.comment.trim().length < 1){
                    alert('请输入评论内容');
                    return false;
                }
                if(this.email && !/^\w+?@\w+?\.\w+?$/g.test(this.email)){
                    alert('输入邮箱有误');
                    return false;
                }
                let postData = {
                    site: commentSite,
                    path: commentPath,
                    comment: {
                        comment: this.comment,
                        username: this.username,
                        email: this.email
                    },
                    captcha: this.captcha
                };
                if(this.replyComment && this.replyComment._id && this.replyComment._id['$oid']){
                    postData.comment.parentId = this.replyComment._id['$oid'];
                }
                $jquery.ajax({
                    method: 'POST',
                    url: commentSystem + '/api.php?controller=comment&action=submit',
                    data: JSON.stringify(postData),
                    dataType: 'json',
                    contentType: "application/json"
                })
                    .then((response) => {
                        const data = response;
                        if(data.code === undefined){
                            alert('解析失败');
                            return;
                        }
                        this.refreshCaptcha();
                        if(data.code !== 0){
                            alert(data.msg);
                            return;
                        }

                        this.commentData.comment.unshift({
                            _id: {'$oid': (new Date()).getTime()},
                            comment: this.comment,
                            username: '我',
                            date: data.isPublic?'刚刚':'审核后显示',
                            isNew: true,
                            status: 'public'
                        });

                        this.comment = this.username = this.email = this.captcha = "";
                        this.replyComment = null;
                        alert(data.msg);
                        // this.getList();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getList(page = 1) {
                $jquery.ajax({
                    method: 'get',
                    url: commentSystem + "/api.php",
                    data: {
                        controller: 'comment',
                        action: 'list',
                        site: commentSite,
                        path: commentPath,
                        page: (page - 1)
                    },
                    dataType: "json",
                })
                    .then((response) => {
                        var data = response;
                        if(data.code === undefined){
                            alert('解析失败');
                            return;
                        }
                        if(data.code !== 0){
                            alert(data.msg);
                            return;
                        }

                        this.configRequiredUsername = data.config.requiredUsername;
                        this.configRequiredEmail = data.config.requiredEmail;

                        this.commentData = data;
                        this.init = true;
                    })
                    .catch(function(error){
                        console.log(error);
                    });
            },
            refreshCaptcha(){
                this.captchaImage = commentSystem + "/api.php?controller=public&action=captcha&token="+Math.random();
                this.captchaImageShow = false;
            },
            captchaLoaded(){
                this.captchaImageShow = true;
            },
            replyClick(comment){
                this.replyComment = comment;
                console.log(comment);
            },
            closeReply(){
                this.replyComment = null;
            },
            getOneComment(comment){
                $jquery.ajax({
                    url: commentSystem + "/api.php",
                    data: {
                        controller: 'comment',
                        action: 'listone',
                        id: comment._id['$oid'],
                        site: commentSite,
                        path: commentPath,
                    },
                    dataType: 'json'
                })
                    .then((response) => {
                        const data = response;
                        if(data.code === undefined){
                            alert('解析失败');
                            return;
                        }
                        if(data.code !== 0){
                            alert(data.msg);
                            return;
                        }

                        this.commentStack.push(this.commentData);
                        this.commentData = data;
                    })
                    .catch(function(error){
                        console.log(error);
                    });
            },
            commentHistoryBack() {
                const commentList = this.commentStack.pop();
                if(!commentList) return;
                this.commentData = commentList;
            },
            pageChange(page){
                if(page === '...') return;
                this.getList(page);
            }
        },
        mounted() {
            this.$el.style.display = 'block';   //避免闪现上面vue代码的未解析的文本。
            this.getList();
        }
    }); //会去除锚点，如果使用vue router等类似单页应用可能会出现问题。

    function GetUrlRelativePath()
    {
        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if(relUrl.indexOf("#") != -1){  //去除锚点
            relUrl = relUrl.split("#")[0];
        }
        if(relUrl.indexOf("?") != -1){
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }
</script>